@model HotelProject_Web.Models.VM.HotelRoomUpdateVM

<form asp-action="UpdateHotelRoom">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Update Hotel Room</h1>
        <hr />
        <input hidden asp-for="UpdateHotelRoom.RoomNo" />
        <input hidden asp-for="UpdateHotelRoom.HotelId" />
        <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="UpdateHotelRoom.RoomNo" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input disabled asp-for="UpdateHotelRoom.RoomNo" class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="UpdateHotelRoom.HotelId" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select disabled asp-for="UpdateHotelRoom.HotelId" class="form-select" asp-items="@Model.HotelList">
                </select>
            </div>

            <div class="col-2">
                <label asp-for="UpdateHotelRoom.SpeacialDetails" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="UpdateHotelRoom.SpeacialDetails" class="form-control" rows="5"></textarea>
                <span asp-validation-for="UpdateHotelRoom.SpeacialDetails" class="text-danger"></span>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="IndexHotelRoom" asp-controller="HotelRoom" class="btn-primary btn form-control">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Update" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}